
@media(max-width: 700px){
    
    .contents_1_right {
        width: 90%;
        height: 40%;
    }
    .contents_1_left {
        height: 30%;
    }
    .contents_cons {
        flex-flow: column;
    }
    .banner_front h1 {
        font-size: 3rem;
    }
    .my_info h1 {
        font-size: 2.5rem;
    }
    .logo_text h1, .nav_bar_fix h1 {
        margin: 0.5rem;
        font-size: 1rem;
    }
    .button_cons button {
        padding: 0.3rem 1rem;
        font-size: 0.8rem;
        cursor: pointer;
        margin: 1.6rem;
    }
    .nav_bar div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        position: fixed;
        left: 1rem;
    }
    .nav_bar span {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 0.2rem;
        border-radius: 1000vh;
        transition: 0.5s ease-in-out;
    }
    .nav_bar ul {
        display: none;
    }
    .logo_text {
        margin: 0 0 0 1rem;
    }
    .banner_effects span {
        padding: 40%;
    }
    .banner_effect1 { 
        left: -80dvw;
    }
    .banner_effect2 {
        right: -80dvw;
    }
    
}
