
@keyframes rotate {
    0% {
        transform: rotate(0) scale(0.2);
    }
    100% {
        transform: rotate(410deg) scale(1);
    }
}

@keyframes rotateInfi {
    0% {
        transform: rotate(0);  
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50%{
        opacity: 0.6;
    }
}